$primary: #9ccdcc;
$secondary: #4b8888;
$tertiary: #f0e0c7;

$bgPrimary: #ffffff;
$bgSecondary: #1f1f1f;

$txtPrimary: black;
$txtSecondary: white;
$txtTertiary: #7b7b7b;

$linkPrimary: #4b8888;
$linkSecondary: #9ccdcc;

$sm: 560px;
$md: 960px;

@font-face {
  font-family: MusicKey;
  src: url(../public/Musisync-KVLZ.ttf);
}
@font-face {
  font-family: Symphonie;
  src: url(../public/SymphonieCAT.ttf);
}

@mixin textFont {
  font-family: 'Raleway', sans-serif;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}